body, .ui-grid-a, .ui-block-a, .ui-block-b {
    background-image: url('../images/white_brick_wall.png');
}
.float-above {
    position: absolute;
    z-index: 100;
}
.float {
    position: absolute;
    z-index: 100;
    padding: 25px;
}
.thumbnail {
    position: relative;
    display: block;
    border: solid;
    border-width: 3px;
    border-color: #ccc;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.thumbnail.selected {
    border-color: #38C;
}
.ui-block-a,.ui-block-b {
    overflow: hidden;
}
#main {
    width: 1600px;
    height: 1200px;
    position:relative;
    background-color: white;
    border: none;
    z-index:-1000;
    overflow: visible;
    top: 0;
    left: 0;
    -ms-zoom: 0.1;
    -moz-transform: scale(0.1);
    -moz-transform-origin: left top;
    -webkit-transform: scale(0.1);
    -webkit-transform-origin: left top;
}
#webview-box {
    position: absolute;
    border: dashed 3px;
    z-index: -99;
}
#webview {
    width: 50%;
    height: 50%;
    z-index: -99;
    -ms-zoom: 2;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
    -webkit-transform: scale(2);
    -webkit-transform-origin: 0 0;
}
#window-outline {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:solid 5px;
    z-index: -1;
    background-color: transparent;
}
.blocker {
    position: absolute;
    z-index: -98;
    background-image: url('../images/white_wall.png');
    opacity: .8;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
}
.transparent-selector {
    position:absolute;
    left:0;
    top: 0;
    height:100%;
    width:100%;
    z-index:10000;
    background: transparent;
}
.slide-number {
    position:absolute;
    width: 100%;
    text-align: right;
}
textarea#slide-notes {
    position: relative;
    height: 98% !important;
    z-index: 10000;
    overflow: scroll;
}
