<div class="ui-grid-a" style="overflow: hidden;">
  <div class="ui-block-a" style="height: 100vh; width: 20%;">
    <div data-role="controlgroup" data-type="horizontal" data-mini="true" class="float-above">
      <a ng-click="moveSlideUp()" class="ui-btn ui-icon-back ui-btn-icon-notext" data-role="button">Back</a>
      <a ng-click="moveSlideUp()" class="ui-btn ui-icon-arrow-u ui-btn-icon-notext" data-role="button">Up</a>
      <a ng-click="moveSlideDown()" class="ui-btn ui-icon-arrow-d ui-btn-icon-notext" data-role="button">Down</a>
      <a ng-click="addSlide()" class="ui-btn ui-icon-plus ui-btn-icon-notext" data-role="button">Add</a>
      <a ng-click="deleteSlide()" class="ui-btn ui-icon-delete ui-btn-icon-notext" data-role="button">Del</a>
    </div>
    <div style="height:100vh; width:100%; overflow-y: scroll;">
      <div style="height:40px;"></div>
      <div class='thumbnail' ng-repeat='(slideId, slide) in pres.slides' ng-attr-id="slide-{{slideId}}" ng-class='{selected: isSlideSelected(slideId)}' ng-click='selectSlide(slideId);'></zen-slide>
        <zen-slide style="position:absolute; left:0; top:0; width:100%; height:100%;"></zen-slide>
        <div class="transparent-selector"></div>
      </div>
    </div>
  </div>
  <div class="ui-block-b" style="height:100vh; width:80%;">
    <div class="float" id="main-outer">
      <div id="main">
        <div id="webview-box">
          <iframe id="webview" src="about:blank"></iframe>
        </div>
        <div class="blocker" id="blocker-north"></div>
        <div class="blocker" id="blocker-south"></div>
        <div class="blocker" id="blocker-west"></div>
        <div class="blocker" id="blocker-east"></div>
        <div id="window-outline"></div>
      </div>
    </div>
    <div class="float" id='v-sliders'>
      <div ng-range-slider ng-from="currentSlide.vSliderOutL" ng-to="currentSlide.vSliderOutR" class='v-slider' orientation="vertical" min="-50" max="150" id="v-slider-out"></div>
      <div ng-range-slider ng-from="currentSlide.vSliderInL" ng-to="currentSlide.vSliderInR" class='v-slider' orientation="vertical" min="0" max="100" id="v-slider-in"></div>
    </div>
    <div class="float" id='h-sliders'>
      <div style="display:inline-block" class="h-slider">
        <div ng-range-slider ng-from="currentSlide.hSliderOutL" ng-to="currentSlide.hSliderOutR"class='h-slider' style="width:100%;" min="-50" max="150" id="h-slider-out"></div>
        <div ng-range-slider ng-from="currentSlide.hSliderInL" ng-to="currentSlide.hSliderInR" class='h-slider' style="width:100%;" min="0" max="100" id="h-slider-in"></div>
      </div>
      <input id="url" class='h-slider' type="text" placeholder="url" ng-model="currentSlide.url" style="width:80%" />
    </div>
    <div id='zoom' class='float' data-role="controlgroup" style="display:inline-block; margin:20px">
      <a ng-click="zoomIn();" class="ui-btn ui-btn-icon-notext ui-icon-plus">Zoom In</a>
      <a ng-click="zoomOut();" class="ui-btn ui-btn-icon-notext ui-icon-minus">Zoom Out</a>
    </div>
  </div>
</div>
