<!DOCTYPE html>
<html ng-app="zenBoard">
<head>
    <meta charset="utf-8" />
    <title>ZenSlides</title>

    <link rel="stylesheet" type="text/css" href='bower_components/jquery-mobile/jquery.mobile-1.4.5.css'/>
    <link rel="stylesheet" type="text/css" href='bower_components/nouislider/distribute/jquery.nouislider.min.css'/>
    <link rel="stylesheet" type="text/css" href='css/default.css'/>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src='bower_components/angular/angular.js'></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/marked/lib/marked.js"></script>
    <script src="bower_components/angular-md/dist/angular-md.min.js"></script>

    <script src='bower_components/jquery-mobile/jquery.mobile-1.4.5.min.js'></script>
    <script src="bower_components/nouislider/distribute/jquery.nouislider.min.js"></script>
    <script src="bower_components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <!-- ZenBoard references -->
    <script src="js/auth.js"></script>
    <script src="js/zenBoard.js"></script>

    <style id="thumbnail-style"></style>
    <style id="control-style"></style>
</head>
<body>
<style>
  .pres {
    overflow: hidden;
    padding: 20px;
    margin: 30px;
    border: solid 1px;
    display: inline-block;
    width: 400px;
    height: 600px;
    vertical-align: top;
    cursor: pointer;
  }
  .slide {
    padding: 20px;
    margin: 5px;
    width:350px;
    overflow:hidden;
    border:solid 1px;
  }
</style>
<div data-role="page" ng-controller="chooserCtrl">
  <div data-role="header" data-position="fixed">
      <h1> Zen Slides </h1>
      <input id="search" data-mini="true" data-inline="true" type="search" placeholder="Search your presentations">
      <div class="ui-btn-left">
          <a data-role="button" data-icon="plus">New Presentation</a>
      </div>
  </div>
  <div>
    <div class="pres"></div>
    <div class="pres"></div>
    <div class="pres"></div>
    <div class="pres"></div>
    <div class="pres"></div>
    <div class="pres"></div>
    <div class="pres" ng-repeat="(presId, pres) in presentations" ng-click="openPres(presId)">
      <div class="slide" ng-repeat="slide in pres.slides | limitTo: 3">
        <md ng-model="slide.notes"></md>
      </div>
    </div>
  </div>
</div>
</body>
</html>
