<!DOCTYPE html>
<html ng-app="zenBoard">
<head>
    <meta charset="utf-8" />
    <title>ZenSlides</title>

    <link rel="stylesheet" type="text/css" href='bower_components/jquery-mobile/jquery.mobile-1.4.5.css'/>
    <link rel="stylesheet" type="text/css" href='bower_components/nouislider/distribute/jquery.nouislider.min.css'/>
    <link rel="stylesheet" type="text/css" href='css/default.css'/>

    <script src='bower_components/angular/angular.js'></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src='bower_components/jquery-mobile/jquery.mobile-1.4.5.min.js'></script>
    <script src="bower_components/nouislider/distribute/jquery.nouislider.min.js"></script>

    <!-- ZenBoard references -->
    <script src="/js/zenBoard.js"></script>

    <style id="thumbnail-style"></style>
    <style id="control-style"></style>
</head>
<body style="overflow: hidden;">
  <div ng-controller="boardCtrl" data-role="page" class="full-screen ui-grid-a">
    <div class="ui-block-a" style="height: 100vh; width: 20%;">
      <div data-role="controlgroup" data-type="horizontal" data-mini="true" class="float-above">
        <a ng-click="moveSlideUp()" class="ui-btn ui-icon-arrow-u ui-btn-icon-notext" data-role="button">Up</a>
        <a ng-click="moveSlideDown()" class="ui-btn ui-icon-arrow-d ui-btn-icon-notext" data-role="button">Down</a>
        <a ng-click="addSlide()" class="ui-btn ui-icon-plus ui-btn-icon-notext" data-role="button">Add</a>
        <a ng-click="deleteSlide()" class="ui-btn ui-icon-delete ui-btn-icon-notext" data-role="button">Del</a>
      </div>
      <div style="height:100vh; width:100%; overflow-y: scroll;">
        <div style="height:40px;"></div>
        <div class='thumbnail-outside' ng-repeat='(slideId, slide) in pres.slides' ng-attr-id="slide-{{slideId}}" ng-class='{selected: isSlideSelected(slideId)}' ng-click='selectSlide(slideId);'>
          <div class='thumbnail-inside'></div>
        </div>
        <script>
          $(document).ready( function() {
            function zoomThumbnails () {
              var width = ($('.ui-block-a').width() - 40);
              var zoom = width / 1600;
              $('#thumbnail-style').html('.thumbnail-inside{'
                + '-ms-zoom:' + zoom
                + ';-moz-transform:scale(' + zoom + ')'
                + ';-webkit-transform:scale(' + zoom + ');}\n'
                + '.thumbnail-outside{width:' + width + 'px;'
                + 'height:' + width * 2/3 + 'px;}');
            }
            zoomThumbnails();
            $(window).resize(zoomThumbnails);
          });
        </script>
        <!-- THUMBNAILS -->
      </div>
    </div>
    <div class="ui-block-b" ng-block-b style="height:100vh; width:80%; position:relative;">
      <div class="float" id="main-outer">
        <div id="main">
          <div id="webview-box">
            <iframe id="webview" src="about:blank"></iframe>
          </div>
          <div class="blocker" id="blocker-north"></div>
          <div class="blocker" id="blocker-south"></div>
          <div class="blocker" id="blocker-west"></div>
          <div class="blocker" id="blocker-east"></div>
          <div id="window-outline"></div>
        </div>
      </div>
      <div class="float" id='v-sliders'>
        <div ng-range-slider ng-from="slide.vSliderOutL" ng-to="slide.vSliderOutR" class='v-slider' orientation="vertical" min="-50" max="150" id="v-slider-out"></div>
        <div ng-range-slider ng-from="slide.vSliderInL" ng-to="slide.vSliderInR" class='v-slider' orientation="vertical" min="0" max="100" id="v-slider-in"></div>
      </div>
      <div class="float" id='h-sliders'>
        <div style="display:inline-block" class="h-slider">
          <div ng-range-slider ng-from="slide.hSliderOutL" ng-to="slide.hSliderOutR"class='h-slider' style="width:100%;" min="-50" max="150" id="h-slider-out"></div>
          <div ng-range-slider ng-from="slide.hSliderInL" ng-to="slide.hSliderInR" class='h-slider' style="width:100%;" min="0" max="100" id="h-slider-in"></div>
        </div>
        <input id="url" class='h-slider' type="text" placeholder="url" ng-model="slide.url" style="width:80%" />
      </div>
      <div id='zoom' class='float' data-role="controlgroup" style="display:inline-block; margin:20px">
        <a ng-click="zoomIn();" class="ui-btn ui-btn-icon-notext ui-icon-plus">Zoom In</a>
        <a ng-click="zoomOut();" class="ui-btn ui-btn-icon-notext ui-icon-minus">Zoom Out</a>
      </div>
      <script>
        $(document).ready( function() {
          function zoomMain () {
            var width = ($('.ui-block-b').width() - 200);
            var height = ($(window).height() - 220);
            var zoom = Math.min(width / 1600, height / 1200);
            $('#main').css('-ms-zoom', zoom);
            $('#main').css('-moz-transform', 'scale(' + zoom + ')');
            $('#main').css('-webkit-transform', 'scale(' + zoom + ')');
            $('#control-style').html(
                '#main-outer{top:' + (height - 1200*zoom)/2 + 'px;'
              + 'left:' + (width - 1600*zoom)/2 + 'px;}\n'
              + '#v-sliders{top:0; left:' + (width + 40) + 'px;}\n'
              + '#h-sliders{left:0; top:' + (height + 20) + 'px;}\n'
              + '#zoom{left:' + (width + 40) + 'px;'
              + ' top:' + (height + 40) + 'px;}');
            $('#v-sliders').height(height + 20);
            $('#h-sliders').width(width + 40);
            $('.v-slider').height(height);
            $('.h-slider').width(width);
            $('.url').width(width);
            $('#zoom').width(80);
          }
          zoomMain();
          $(window).resize(zoomMain);
        });
      </script>
    </div>
  </div>
</body>
</html>
