<!DOCTYPE html>
<html ng-app="zenBoard">
<head>
    <meta charset="utf-8" />
    <title>ZenSlides</title>

    <link rel="stylesheet" type="text/css" href='bower_components/jquery-mobile/jquery.mobile-1.4.5.css'/>
    <link rel="stylesheet" type="text/css" href='bower_components/nouislider/distribute/jquery.nouislider.min.css'/>
    <link rel="stylesheet" type="text/css" href='css/default.css'/>

    <script src='bower_components/angular/angular.js'></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src='bower_components/jquery-mobile/jquery.mobile-1.4.5.min.js'></script>
    <script src="bower_components/nouislider/distribute/jquery.nouislider.min.js"></script>


    <!-- ZenBoard references -->
    <script src="/js/zenBoard.js"></script>
</head>
<body style="overflow: hidden;">
    <div id="board" ng-controller="boardCtrl" style="width:100%; height:100%;" data-role='page'>
        <div id="editBoard" style="width:100%; height:100%;">
            <table style="height:100vh; width:100vw; overflow:hidden;">
                <tr>
                    <td>
                        <!-- THUMBNAIL CONTROLLERS -->
                        <table style="position: absolute; z-index:100"><tr>
                        <td><a ng-click="moveSlideUp()" class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-u ui-btn-icon-notext"></a></td>
                        <td><a ng-click="moveSlideDown()" class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-d ui-btn-icon-notext"></a></td>
                        <td><a ng-click="addSlide()" class="ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-notext"></a></td>
                        <td><a ng-click="deleteSlide()" class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext"></a></td>
                        </tr></table>
                        <!-- THUMBNAIL CONTROLLERS -->

                        <!-- THUMBNAILS -->
                        <div style="height:100vh; width:200px;">
                            <div style="overflow-y: scroll; height: 100%">
                                <div ng-repeat='(slideId, slide) in pres.slides' ng-attr-id="slide-{{slideId}}">
                                    <div class='thumbnail-outside' ng-class='{selected: isSlideSelected(slideId)}' ng-click='selectSlide(slideId);'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- THUMBNAILS -->
                    </td>
                    <td>
                        <input type="text" placeholder="url" ng-model="slide.url" style="width:80%" />

                        <!-- MAIN BOARD -->
                        <div style="zoom: 0.8; width: 80vw; height: 50vh; position:relative; border: solid 1px;">
                            <div class="outer" ng-style="{left: slide.left+'%', width: (slide.right-slide.left)/Math.exp(slide.zoom/100)+'%', top: slide.top+'%', height: (slide.bottom-slide.top)/Math.exp(slide.zoom/100)+'%', zoom: Math.exp(slide.zoom/100)}">
                                <iframe id="webview" class="inner" ng-style="{left: 100/(slide.right-slide.left)*slide.shiftX+'%', width:(10000/(slide.right-slide.left))*Math.exp(slide.scale/100)+'%', top: 100/(slide.bottom-slide.top)*slide.shiftY+'%', height:(10000/(slide.bottom-slide.top))*Math.exp(slide.scale/100)+'%'}"></iframe>
                            </div>
                        </div>
                        <!-- MAIN BOARD -->

                        <div style="width:50vw; height:20vh;">
                        <table style="width: 100%">
                        <tr>
                        <td rowspan="2" width="10%">
                            <div data-role="controlgroup">
                                <button class="ui-btn ui-btn-icon-notext ui-icon-plus">
                                <button class="ui-btn ui-btn-icon-notext ui-icon-minus">
                            </div>
                        </td>
                        <td height="40px" colspan="2"><div style="width:100%" id="h-slider-out"></div></td></tr>
                        <tr><td height="40px" width="10%"></td><td><div style="width:87%" id="h-slider-in"></div> </td></tr>
                        </table>
                        <script>$("#h-slider-out").noUiSlider({
                            start: [0, 100], connect: true,
                            range: { 'min': -100, 'max': 200 }
                        });
                        $("#h-slider-in").noUiSlider({
                            start: [0, 100], connect: true,
                            range: { 'min': 0, 'max': 100 }
                        });
                        </script>
                        </div>
                    </td>
                    <td>
                        <table style="width: 100%; height:100%"><tr>
                        <td width="40px" valign="middle"><div id="v-slider-out"></div></td>
                        <td width="40px" valign="middle"><div id="v-slider-in"></div> </td>
                        </tr></table>
                        <script>$("#v-slider-out").height(500).noUiSlider({
                            start: [0, 100], connect: true,
                            range: { 'min': -100, 'max': 200 },
                            direction: 'rtl',
                            orientation: 'vertical',
                        });
                        $("#v-slider-in").height(400).noUiSlider({
                            start: [0, 100], connect: true,
                            range: { 'min': 0, 'max': 100 },
                            direction: 'rtl',
                            orientation: 'vertical',
                        });
                        </script>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
